@charset "utf-8";
*{ margin: 0; padding: 0;}
a{ text-decoration: none; color: inherit;}
ol,ul{ list-style: none;}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/korean\ traditional\ pattern\ to\ the_904567.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
/* app */
#app{
  background-image:url(./images/korean\ traditional\ pattern\ to\ the_904567.png);
  background-size: cover;
  background-position: center;
  width: 360px;
  height: 640px;
  border: 1px solid #222;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
    >p{
    position: absolute;
    top: 80vh;
  }
}
#categories{
  position: relative;
  h2{text-align: center;
  position:absolute;
  transform: translateX(-50%);
  top: 150px;
  left: 180px;
  }
  ul{
    background-image: url(./images/744d571ff6d5a9ab801693444d8d64e0.png);
    width: 360px;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    li{
      cursor: pointer;
      margin: 0.5rem 0;
    }
  }
}

#quiz-page{
  height: 100%;
  h3{}
  p{ 
    margin-bottom: 1rem;
  }
  p:nth-of-type(1){
    text-align: center;
    line-height: 220px;
    font-weight: bolder;
    width: 360px;
    height: 220px;
    background-image: url(./images/744d571ff6d5a9ab801693444d8d64e0.png);
    background-position: center;
    background-size: cover;
  }
  .choices{
    width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    li{
      margin-top: 0.5rem;
      padding: 0.4rem;
      border-radius: 1rem;
      box-shadow: 0 2px 6px 0;
      width: 280px;
      background-color: #FFE1A1;
    }
  }
}

#result{
  background-image: url(./images/744d571ff6d5a9ab801693444d8d64e0.png);
  width: 360px;
  height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  p{
    position: absolute;
    top: 0;
    display: inline-block;
  }
  button{
    position: absolute;
    top: 300px;
    background-color: #FFE1A1;
    padding: 0.8rem 0.3rem;
    border-radius: 16px;
  }
}

@media all and (max-width:360px) {
  #app{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}
